.card {
    position: relative;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 10px 10px 25px -11px rgba(0,0,0,0.65);
    transition: all 0.5s ease-in;
}

.quote-icon {
    position: absolute;
    left: 2rem;
    top: -3rem;
}


.quote {
    color: teal;
    margin: 1rem;
    font-size: 1.5rem;

    @media (min-width: 768px) {
        margin: 2rem;
        font-size: 3rem;
    }
}
