.button {
    margin-bottom: 3rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 2rem;
    font-weight: 500;
    font-family: inherit;
    color: white;
    background-color: teal;

    cursor: pointer;
    transition: all 0.25s;


    &:hover {
        background-color: white;
        color: teal;
    }
    &:focus, &:focus-visible {
        outline: 4px auto teal;
    }
}
