.footer {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: teal;
    margin-top: 4rem;
}

.link {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: teal;
    text-decoration: underline;
    text-underline-offset: 0.25rem;

    &:hover {
        text-decoration: none;
    }
}