h1 {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: teal;
  font-size: 3rem;
  margin-bottom: 2.5rem;

  @media (min-width: 768px) {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 5rem;
  }
  }
  